body {
  font-family: 'Lato', sans-serif;
}

.container{
	width:80%;
	margin:80px auto;
}

.container h1{
	padding:60px 0px;
	text-align:center;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.col{
	flex-basis:50%;
	min-width: 250px;
}

.feature-img{
	width:83%;
	margin: auto;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
}

.small-img-row {
  display: flex;
  background: #538f94;
  margin: 20px 0;
  align-items: center;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
}

.small-img {
  position: relative ;
}

.small-img img{
  height: 130px;
}

.small-img-row p{
  margin-left: 20px;
  color: #f1f1f1;
  line-height: 22px;
  font-size: 15px;
}

.play-btn{
  width: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}

.small-img .play-btn{
  width: 40%;
  height: 40%;
}

.video-player{
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  display: none;
}

video:focus{
  outline: none;
}

.close-btn{
  position:absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  cursor: pointer;
}

.brbig{
	display: block;
	margin-bottom: 0.5em;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}